#ticketIconContainer {
  cursor: pointer;
  padding: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#ticketIconContainer p {
  font-size: 1rem;
  position: absolute;
  top: 14px;
  left: 14px;
}

#ticketIconContainer img {
  position: absolute;
  top: 18px;
  left: 18px;
}
